{% extends "base.html" %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<div class="row">
    <div class="row">
    <h1 class="page-header">
        {%trans%}Change Password{%endtrans%}</h1>
    <hr align="center">
  </div>
</div>

  <div class="row"><div class="large-10 large-centered 
                  medium-centered medium-8 small-8 small-centered
                  columns">
    <form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}

    {% set field = form.old_password %}
        <div class="row">
            <div class="large-6 columns">
                <dt>{{ form.old_password.label }}
                <dd class="error">{{ form.old_password()|safe }}
                {% if field.errors %}
                    {% for e in field.errors %}
                        <small class="error">{{ e }}</small>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    {% set field = form.new_password %}
        <div class="row">
            <div class="large-6 columns">
                <dt>{{ field.label }}
                <dd class="error">{{ field()|safe }}
                    {% if field.errors %}
                        {% for e in field.errors %}
                            {% if e %}
                                <small class="error">{{ e }}</small>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
            </div>
        </div>
        
    {% if user_manager.enable_retype_password %}
        {% set field = form.retype_password %}
        <div class="row">
            <div class="large-6 columns">
                <dt>{{ field.label }}
                <dd class="error">{{ field()|safe }}
                    {% if field.errors %}
                        {% for e in field.errors %}
                            {% if e %}
                                <small class="error">{{ e }}</small>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="large-10 medium-8 small-8 columns"><div class="row">
        {# Invite button #}
        {{ render_submit_field(form.submit, tabindex=180) }}
    </div></div>
    </form>

  </div></div>
</div>

{% endblock %}