{% extends "base.html" %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}

<div class="row">
<div class="row">
    <h1 class="page-header">
        {%trans%}Forgot Password{%endtrans%}</h1>
    <hr align="center">
  </div>
</div>

<div class="row">
    <div class="large-centered 
                      large-10 medium-centered medium-8 small-8 small-centered
                      columns content">
        <div class="row">
            <form action="" method="POST" class="form" role="form">
            {{ form.hidden_tag() }}

            {% set field = form.email %}
                <div class="row">
                    <div class="large-centered 
                      large-8 medium-centered medium-8 small-8 small-centered
                      columns content">
                        <dt>{{ field.label }}
                        <dd class="error">{{ field()|safe }}
                            {% if field.errors %}
                                {% for e in field.errors %}
                                    {% if e %}
                                        <small class="error">{{ e }}</small>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                    </div>
                </div>
            </div>
        <div class = "row">
            <div class="large-centered 
                      large-8 medium-centered medium-8 small-8 small-centered
                      columns content">
                {# Submit button #}
                {{ render_submit_field(form.submit, tabindex=180) }}
            </div>
        </div>
        </form>
    </div>
</div>

{% endblock %}