{% extends "base.html" %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}

<div class = "row">
    <div class="row">
    <h1 class="page-header">
        {%trans%}Invite Admin{%endtrans%}</h1>
    <hr align="center">
  </div>
</div>

<form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}

    {% set field = form.username if user_manager.enable_username else form.email %}
        <div class="row">
            <div class="large-6 columns">
                <dt>{{ form.email.label }}
                <dd class="error">{{ form.email()|safe }}
                {% if field.errors %}
                    {% for e in field.errors %}
                        <small class="error">{{ e }}</small>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    {% set field = form.first_name %}
        <div class="row">
            <div class="large-6 columns">
                <dt>{{ field.label }}
                <dd class="error">{{ field()|safe }}
                    {% if field.errors %}
                        {% for e in field.errors %}
                            {% if e %}
                                <small class="error">{{ e }}</small>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
            </div>
        </div>
        
    {% set field = form.last_name %}
        <div class="row">
            <div class="large-6 columns">
                <dt>{{ field.label }}
                <dd class="error">{{ field()|safe }}
                    {% if field.errors %}
                        {% for e in field.errors %}
                            {% if e %}
                                <small class="error">{{ e }}</small>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
            </div>
        </div>
     

    <div class = "row">
        {# Invite button #}
        {{ render_submit_field(form.submit, tabindex=180) }}
    </div>
</form>

{% endblock %}