<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<body id = "add_p">
  <div class="row">
      <h1 class="page-header">{{ title }}</h1>
      <hr align="center">
  </div>

	<form action="" method="POST" role="form" name="submit_food_resource">
	    {{ form.hidden_tag() }}

	    <!-- Food Resource Name -->
	    <div class="row">
		    <div class="large-8 medium-6 medium-centered small-12 columns large-centered 
		    	medium-centered">
		        	{% if additional_errors %}
		                {% for e in additional_errors %}
		                    {% if e %}
		                        <small class="error">{{ e }}</small>
		                    {% endif %}
		                {% endfor %}
		            {% endif %}
		      	</label>
		    </div>
		</div>

	   <!-- Food Resource Type -->
	    {% set field = form.name %}
	    <div class="row">
		    <div class="large-8 medium-8 medium-centered small-8 small-centered
		     columns large-centered">
		      	<label>{{ form.name.label }}
		      		<dd class="error">{{ form.name()|safe }}
		            {% if field.errors %}
		                {% for e in field.errors %}
		                    {% if e %}
		                        <small class="error">{{ e }}</small>
		                    {% endif %}
		                {% endfor %}
		            {% endif %}
	            </label>
			</div>
		</div>

		<!-- Food Resource Type -->
		{% set field = form.location_type %}
		<div class="row">
		    <div class="large-8 medium-8 medium-centered small-8 small-centered
		     columns large-centered">
		      	<label>{{ form.location_type.label }}
		        	<dd class="error">{{ form.location_type()|safe }}
		        	{% if field.errors %}
		                {% for e in field.errors %}
		                    {% if e %}
		                        <small class="error">{{ e }}</small>
		                    {% endif %}
		                {% endfor %}
		            {% endif %}
				</label>
			</div>
		</div>

		<!-- Address Line 1 -->
		{% set field = form.address_line1 %}
	    <div class="row">
		    <div class="large-8 medium-8 medium-centered small-8 small-centered
		     columns large-centered">
		      	<label>{{ form.address_line1.label }}
		        	<dd class="error">{{ form.address_line1()|safe }}
		        	{% if field.errors %}
		                {% for e in field.errors %}
		                    {% if e %}
		                        <small class="error">{{ e }}</small>
		                    {% endif %}
		                {% endfor %}
		            {% endif %}
				</label>
			</div>
		</div>

	  <!-- Address Line 2 -->
		{% set field = form.address_line2 %}
		<div class="row">
		    <div class="large-8 medium-8 medium-centered small-8 small-centered
		     columns large-centered">
		      	<label>{{ form.address_line2.label }}
		        	<dd class="error">{{ form.address_line2()|safe }}
		        	{% if field.errors %}
		                {% for e in field.errors %}
		                    {% if e %}
		                        <small class="error">{{ e }}</small>
		                    {% endif %}
		                {% endfor %}
		            {% endif %}
				</label>
			</div>
		</div>

		<!-- Address City --> 
		{% set field = form.address_city %}
		<div class="row">
			<div class="large-8 medium-8 medium-centered small-8 small-centered
		     columns large-centered">
		      	<label>{{ form.address_city.label }}
		        	<dd class="error">{{ form.address_city()|safe }}
		        	{% if field.errors %}
		                {% for e in field.errors %}
		                    {% if e %}
		                        <small class="error">{{ e }}</small>
		                    {% endif %}
		                {% endfor %}
		            {% endif %}
				</label>
			</div>
		</div>

		<!-- Address State --> 
		{% set field = form.address_state %}
		<div class="row">
		    <div class="large-8 medium-8 medium-centered small-8 small-centered
		     columns large-centered">
		      	<label>{{ form.address_state.label }}
		        	<dd class="error">{{ form.address_state()|safe }}
		        	{% if field.errors %}
		                {% for e in field.errors %}
		                    {% if e %}
		                        <small class="error">{{ e }}</small>
		                    {% endif %}
		                {% endfor %}
		            {% endif %}
				</label>
			</div>
		</div>

		<!-- Address Zip Code --> 
		{% set field = form.address_zip_code %}
		<div class="row">
		    <div class="large-8 medium-8 medium-centered small-8 small-centered
		     columns large-centered">
		      	<label>{{ form.address_zip_code.label }}
		        	<dd class="error">{{ form.address_zip_code()|safe }}
		        	{% if field.errors %}
		                {% for e in field.errors %}
		                    {% if e %}
		                        <small class="error">{{ e }}</small>
		                    {% endif %}
		                {% endfor %}
		            {% endif %}
				</label>
			</div>
		</div>

		<!-- Address Phone Number --> 
		{% set field = form.phone_number %}
		<div class="row">
		    <div class="large-8 medium-8 medium-centered small-8 small-centered
		     columns large-centered">
		      	<label>{{ form.phone_number.label }}
		        	<dd class="error">{{ form.phone_number()|safe }}
		        	{% if field.errors %}
		                {% for e in field.errors %}
		                    {% if e %}
		                        <small class="error">{{ e }}</small>
		                    {% endif %}
		                {% endfor %}
		            {% endif %}
				</label>
			</div>
		</div>

		<!-- Website --> 
		{% set field = form.website %}
		<div class="row">
		    <div class="large-8 medium-8 medium-centered small-8 small-centered
		     columns large-centered">
		      	<label>{{ form.website.label }}
		        	<dd class="error">{{ form.website()|safe }}
		        	{% if field.errors %}
		                {% for e in field.errors %}
		                    {% if e %}
		                        <small class="error">{{ e }}</small>
		                    {% endif %}
		                {% endfor %}
		            {% endif %}
				</label>
			</div>
		</div>

		<div class="row">
		    <div class="large-8 medium-8 medium-centered small-8 small-centered
		     columns large-centered">
		      	<label>Days/Hours of Operation
				</label>
			</div>
		</div>

		{% set field = form.are_hours_available %}
		<div class="row">
		    <div class="large-8 medium-8 medium-centered small-8 small-centered
		     columns large-centered">
		      	<label>{{ form.are_hours_available.label }}
		        	<dd class="error">{{ form.are_hours_available()|safe }}
		        	{% if field.errors %}
		                {% for e in field.errors %}
		                    {% if e %}
		                        <small class="error">{{ e }}</small>
		                    {% endif %}
		                {% endfor %}
		            {% endif %}
				</label>
			</div>
		</div>

		{% for multi_timeslot_form in form.daily_timeslots %}
		{% set day_of_week = days_of_week[loop.index0] %}
		{% set is_open = form.is_open[loop.index0].is_open %}

		{{ form.is_open[loop.index0].form.hidden_tag() }}
		{{ multi_timeslot_form.form.hidden_tag() }}

			<div class="row open-or-closed-container">
			    <div class="large-8 medium-8 medium-centered small-8 small-centered
			     columns large-centered">
			    	<div class="row">
			      		<div class="large-4 small-4 columns" id="middle-padding-section">
			      			<label>{{ day_of_week.name }}
					        	<dd class="error">{{ is_open()|safe }}
					        	{% if is_open.errors %}
					                {% for e in is_open.errors %}
					                    {% if e %}
					                        <small class="error">{{ e }}</small>
					                    {% endif %}
					                {% endfor %}
					            {% endif %}
			      			</label>
			      		</div>
			      		{% for timeslot_form in multi_timeslot_form.timeslots %} 
			      			{{ timeslot_form.form.hidden_tag() }}
				      		<div class="large-8 small-8 columns time-pickers" id="middle-padding-section">
					      		<div class="row">
						      		<div class="large-6 small-6 columns" id="middle-padding-section">
						      			<label>{{ timeslot_form.starts_at.label }}
								        	<dd class="error">{{ timeslot_form.starts_at()|safe }}
								        	{% if timeslot_form.starts_at.errors %}
								                {% for e in timeslot_form.starts_at.errors %}
								                    {% if e %}
								                        <small class="error">{{ e }}</small>
								                    {% endif %}
								                {% endfor %}
								            {% endif %}
						      			</label>
						      		</div>
						      		<div class="large-6 small-6 columns" id="middle-padding-section">
						      			<label>{{ timeslot_form.ends_at.label }}
								        	<dd class="error">{{ timeslot_form.ends_at()|safe }}
								        	{% if timeslot_form.ends_at.errors %}
								                {% for e in timeslot_form.ends_at.errors %}
								                    {% if e %}
								                        <small class="error">{{ e }}</small>
								                    {% endif %}
								                {% endfor %}
								            {% endif %}
						      			</label>
						      		</div>
						      	</div>
						      	<div class="row {{ day_of_week.index }}-add-another-time-picker">
						      		<div class="small-12 columns">
						      			Add another timeslot
						      		</div>
						      	</div>
				      		</div>
			      		{% endfor %}
			      	</div>
		   	  </div>
			</div>

		{% endfor %}

		{% set field = form.additional_information %}
		<div class="row">
		    <div class="large-8 medium-8 medium-centered small-8 small-centered
		     columns large-centered" id="top-padding-section">
		      	<label>{{ form.additional_information.label }}
		        	<dd class="error">{{ form.additional_information()|safe }}
		        	{% if field.errors %}
		                {% for e in field.errors %}
		                    {% if e %}
		                        <small class="error">{{ e }}</small>
		                    {% endif %}
		                {% endfor %}
		            {% endif %}
		      	</label>
		    </div>
		</div>

		{% set field = form.is_for_family_and_children %}
		<div class="row">
		    <div class="large-8 medium-8 medium-centered small-8 small-centered
		     columns large-centered" id="top-padding-section">
		      	<label>{{ form.is_for_family_and_children.label }}
		        	<dd class="error">{{ form.is_for_family_and_children()|safe }}
		        	{% if field.errors %}
		                {% for e in field.errors %}
		                    {% if e %}
		                        <small class="error">{{ e }}</small>
		                    {% endif %}
		                {% endfor %}
		            {% endif %}
		      	</label>
		    </div>
		</div>

		{% set field = form.is_for_seniors %}
		<div class="row">
		    <div class="large-8 medium-8 medium-centered small-8 small-centered
		     columns large-centered" id="top-padding-section">
		      	<label>{{ form.is_for_seniors.label }}
		        	<dd class="error">{{ form.is_for_seniors()|safe }}
		        	{% if field.errors %}
		                {% for e in field.errors %}
		                    {% if e %}
		                        <small class="error">{{ e }}</small>
		                    {% endif %}
		                {% endfor %}
		            {% endif %}
		      	</label>
		    </div>
		</div>

		{% set field = form.is_wheelchair_accessible %}
		<div class="row">
		    <div class="large-8 medium-8 medium-centered small-8 small-centered
		     columns large-centered" id="top-padding-section">
		      	<label>{{ form.is_wheelchair_accessible.label }}
		        	<dd class="error">{{ form.is_wheelchair_accessible()|safe }}
		        	{% if field.errors %}
		                {% for e in field.errors %}
		                    {% if e %}
		                        <small class="error">{{ e }}</small>
		                    {% endif %}
		                {% endfor %}
		            {% endif %}
		      	</label>
		    </div>
		</div>

		{% set field = form.is_accepts_snap %}
		<div class="row">
		    <div class="large-8 medium-8 medium-centered small-8 small-centered
		     columns large-centered" id="top-padding-section">
		      	<label>{{ form.is_accepts_snap.label }}
		        	<dd class="error">{{ form.is_accepts_snap()|safe }}
		        	{% if field.errors %}
		                {% for e in field.errors %}
		                    {% if e %}
		                        <small class="error">{{ e }}</small>
		                    {% endif %}
		                {% endfor %}
		            {% endif %}
		      	</label>
		    </div>
		</div>

		<div class="row">
		    <div class="large-8 medium-8 medium-centered small-8 small-centered
		     columns large-centered" id="bottom-padding-section">
	          <input type=submit class="button radius small" value=Submit>
		    </div>
		</div>
	</form>
</body>

{% endblock %}
