<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<body id = "resource_p">
	<div class="row">
	    <h1 class="page-header" id="edit-resources-header">All Food Resources</h1>
	    <hr align="center">
  	</div>

  	<!-- Filter admin resources by certain criteria -->
  	<div class="row">
  		<div class="medium-10 small-12 columns">
  			<label for="zip-code">Zip Code:</label>
	  		<input type="text" id="zip-code" />
	  		<input type="checkbox" id="filter-by-families-and-children"> Families and children
	  		<input type="checkbox" id="filter-by-seniors"> Seniors
	  		<input type="checkbox" id="filter-by-wheelchair-accessible"> Wheelchair accessible
	  		<input type="checkbox" id="filter-by-accepts-snap"> Accepts SNAP
  		</div>
  		<div class="medium-2 small-12 columns">
  			<div class="button radius small" id="apply-filters-resources-button">Apply Filters</div>
  			<div class="button radius small" id="clear-filters-resources-button">Clear Filters</div>
  		</div>
  	</div>
	<div class="row">
  		<div class="small-12 columns" id="filter-error">
  		</div>
  	</div>

  	<!-- Expand or collapse all resources -->
  	<div class="row">
	    <div class="small-12 columns">
          <div class="button radius small" id="expand-all-resources-button">Expand All</div>
          <div class="button radius small" id="collapse-all-resources-button">Collapse All</div>
	    </div>
	</div>
  	<div class="large-centered 
                  large-8 medium-centered medium-8 small-8 small-centered
                  columns resources">

	{% for resource_info in resources_info %}
	<div id="{{ resource_info.id }}">
		<div class="block-header" id="{{ resource_info.id }}-header">
			<table>
			  <thead>
			    <tr>
			      <th width="200" class="expand-food-resource-type" id="food-resource-type-expand-{{ resource_info.id }}">+</th>
			      <th width="100%">{{ resource_info.name }}</th>	
			    </tr>
			  </thead>
			</table>
		</div>
		<div id="{{ resource_info.id }}-table" class="admin-food-resource-type">
			{% if not resources[resource_info.id] %}
				<div class="no-resources-message">There are no {{ resource_info.lowercase_name }} in the database.</div>
			{% endif %}

			{% for resource in resources[resource_info.id] %}
			<div class="resource"> 

			<!-- Resource header --> 
			  <div class= "row" id="food-resource-{{ resource.id }}">
				<div class="small-1 columns expand-food-resource" id="food-resource-expand-{{ resource.id }}">
					+
				</div>
				<div class="small-7 columns">
					{{ resource.name }}
				</div>
				<div class="small-2 columns">
					<a href="{{ url_for('new', id=resource.id) }}" class="food-resource-update-button">Edit</a>
				</div>
				<div class="small-2 columns">
					<div id="{{ resource.id }}-remove" class="food-resource-update-button">Remove</div>
				</div>
			</div>
			<!-- Resource content --> 
			<div class="row admin-food-resource" id="food-resource-{{ resource.id }}-table">
				<div class="large-6 small-12 columns">
					<div class="row">
						<div class="small-3 columns">
							Name:
						</div>
						<div class="small-9 columns">
							{{ resource.name }}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Address:
						</div>
						<div class="small-9 columns">
							{% if resource.address.line1 %}
								{{ resource.address.line1 }}
							{% endif %}
							{% if resource.address.line2 %}
								<br>
								{{ resource.address.line2 }}
							{% endif %}	
							<br>
							{{ resource.address.city }}, 
							{{ resource.address.state }} 
							{{ resource.address.zip_code }}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Zip Code:
						</div>
						<div class="small-9 columns">
							{{ resource.address.zip_code }}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Phone Number:
						</div>
						<div class="small-9 columns">
							{{ resource.phone_numbers[0].number }}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Website:
						</div>
						<div class="small-9 columns">
							{% if resource.url %}
								<a href="{{ resource.url }}">{{ resource.url }}</a>
							{% else %}
								None listed.
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Description:
						</div>
						<div class="small-9 columns">
							{% if resource.description %}
								{{ resource.description }}
							{% else %}
								No description.
							{% endif %}
						</div>
					</div>
				</div>
				<div class="large-6 small-12 columns">
					<div class="row">
						<div class="small-3 columns">
							Hours: <!--{{ resource.timeslots }}-->
						</div>
						<div class="small-9 columns">
							{% for day in days_of_week %}
								<div class="row">
									<div class="small-6 columns">
										{{day['name']}}
									</div>
									<div class="small-6 columns">
										{% for timeslot in resource.timeslots %}
											{% if timeslot.day_of_week == day['index'] %}
												{{ timeslot.start_time.strftime('%I:%M %p') }} - {{ timeslot.end_time.strftime('%I:%M %p') }}
											{% endif %}
										{% endfor %}
									</div>
								</div>
							{% endfor %}
						</div> 
					</div>
				</div>
			</div>
		</div>
			{% endfor %}
		</div>
	</div>
{% endfor %}
</div> </div>
</body>

<script>
	$(document).ready(function() {

		$("#apply-filters-resources-button").click(function() {
			var hasZipCodeFilter = 0;
			var hasFamiliesAndChildrenFilter = 0;
			var hasSeniorsFilter = 0;
			var hasWheelchairAccessibleFilter = 0;
			var hasAcceptsSnapFilter = 0; 

			//clearTablesOfFoodResources();
			// Check that zip code is properly formed.
			var regex = /^(\d{5})?$/; // 5-digit number or an empty string
			var zipCode = $("#zip-code").val().trim(); 
			if (regex.test(zipCode)) {
				$("#filter-error").html("");
				if (zipCode.length > 0) {
					hasZipCodeFilter = 1; 
				}
			} else {
				$("#filter-error").html("Zip code consist of exactly 5 digits (0-9).");
				return; 
			}

			// Determine which checkboxes are checked.
			if ($('[id="filter-by-families-and-children"]:checked').length > 0) {
				hasFamiliesAndChildrenFilter = 1; 
			}
			if ($('[id="filter-by-seniors"]:checked').length > 0) {
				hasSeniorsFilter = 1; 
			}
			if ($('[id="filter-by-wheelchair-accessible"]:checked').length > 0) {
				hasWheelchairAccessibleFilter = 1; 
			}
			if ($('[id="filter-by-accepts-snap"]:checked').length > 0) {
				hasAcceptsSnapFilter = 1; 
			}

			$.getJSON($SCRIPT_ROOT + '/_admin_apply_filters', {
        		has_zip_code_filter: hasZipCodeFilter,
        		zip_code: zipCode,
        		has_families_and_children_filter: hasFamiliesAndChildrenFilter, 
        		has_seniors_filter: hasSeniorsFilter, 
        		has_wheelchair_accessible_filter: hasWheelchairAccessibleFilter, 
        		has_accepts_snap_filter: hasAcceptsSnapFilter
        	},
        	function(data) {
        		console.log(data["farmers_markets"]); 
        		console.log(data["meals_on_wheels"]); 
        		console.log(data["food_cupboards"]); 
        		console.log(data["share_host_sites"]); 
        		console.log(data["soup_kitchens"]);
        		console.log(data["wic_offices"]); 
        	});  
		}); 

		$("#clear-filters-resources-button").click(function() {
			clearTablesOfFoodResources();
		}); 
	}); 
</script>


{% endblock %}
