<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<body id = "resources_p">
	<div class="row">
		<h1 class="page-header" id="edit-resources-header">All Food Resources</h1>
    	<hr align="center">
  	</div>

  	<!-- Pending Food Resources --> 
	<div class="row">
		<div class="small-12 columns">
		    <h2>Pending Food Resources</h2>
		    <hr align="center">
		</div>
	</div>

	{% if food_resource_contacts|count == 0 %}
 	<div class="row">
 		<div class="small-12 columns">
 			None.
	    </div>
	</div>
	{% else %}
  	<div class="large-centered 
         large-8 medium-centered medium-8 small-8 small-centered
         columns resources">
	{% for contact in food_resource_contacts %}
	{% set name_without_spaces = contact.name.replace(" ", "-") %}
	<div id="{{ name_without_spaces }}">
		<div class="block-header" id="{{ name_without_spaces }}-header">
			<table>
			  	<thead>
			    	<tr>
			      		<th width="200" class="expand-food-resource-type-pending" id="food-resource-type-expand-pending-{{ name_without_spaces }}">+</th>
			      		<th width="100%">{{ contact.name }}</th>	
			    	</tr>
			  	</thead>
			</table>
		</div>
		<div class="admin-food-resource-type-pending" id="{{ name_without_spaces }}-table-pending">
			{% for resource in contact.food_resource %}

			<div class="resource"> 

			<!-- Resource header --> 
			  <div class= "row" id="food-resource-pending-{{ resource.id }}">
				<div class="small-1 columns expand-food-resource-pending" id="food-resource-expand-pending-{{ resource.id }}">
					+
				</div>
				<div class="small-7 columns">
					{{ resource.name }}
				</div>
				<div class="small-2 columns">
					<div id="{{ resource.id }}-approve" class="food-resource-update-button">Approve</div>
				</div>
				<div class="small-2 columns">
					<a id="{{ resource.id }}-remove" class="food-resource-update-button" href="#modal">Reject</a>
				</div>
			</div>
			<!-- Resource content --> 
			<div class="row admin-food-resource-pending" id="food-resource-{{ resource.id }}-table-pending">
				<div class="large-6 small-12 columns">
					<div class="row">
						<div class="small-3 columns">
							Name:
						</div>
						<div class="small-9 columns">
							{{ resource.name }}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Resource Type:
						</div>
						<div class="small-9 columns">
							{{ resource.food_resource_type.name_singular }}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Submitted By:
						</div>
						<div class="small-9 columns">
							{% if contact.name %}
								{{ contact.name }}
							{% endif %}
							{% if contact.name %}
								<br>
								{{ contact.email }}
							{% endif %}
							{% if contact.phone_number %}
								<br>
								{{ contact.phone_number }}
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Notes:
						</div>
						<div class="small-9 columns">
							{% if resource.notes %}
								{{ resource.notes }}
							{% else %}
								None.
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Address:
						</div>
						<div class="small-9 columns">
							{% if resource.address.line1 %}
								{{ resource.address.line1 }}
							{% endif %}
							{% if resource.address.line2 %}
								<br>
								{{ resource.address.line2 }}
							{% endif %}	
							<br>
							{{ resource.address.city }}, 
							{{ resource.address.state }} 
							{{ resource.address.zip_code }}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Zip Code:
						</div>
						<div class="small-9 columns">
							{{ resource.address.zip_code }}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Phone Number:
						</div>
						<div class="small-9 columns">
							{{ resource.phone_numbers[0].number }}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Website:
						</div>
						<div class="small-9 columns">
							{% if resource.url %}
								<a href="{{ resource.url }}">{{ resource.url }}</a>
							{% else %}
								None listed.
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Description:
						</div>
						<div class="small-9 columns">
							{% if resource.description %}
								{{ resource.description }}
							{% else %}
								No description.
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Family and children?
						</div>
						<div class="small-9 columns">
							{% if resource.is_for_family_and_children %}
								Yes
							{% else %}
								No
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Seniors?
						</div>
						<div class="small-9 columns">
							{% if resource.is_for_seniors %}
								Yes
							{% else %}
								No
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Wheelchair accessible?
						</div>
						<div class="small-9 columns">
							{% if resource.is_wheelchair_accessible %}
								Yes
							{% else %}
								No
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Accepts SNAP?
						</div>
						<div class="small-9 columns">
							{% if resource.is_accepts_snap %}
								Yes
							{% else %}
								No
							{% endif %}
						</div>
					</div>
				</div>
				<div class="large-6 small-12 columns">
					<div class="row">
						<div class="small-3 columns">
							Hours: 
						</div>
						<div class="small-9 columns">
							{% if resource.are_hours_available %}
								{% for day in days_of_week %}
									<div class="row">
										<div class="small-6 columns">
											{{ day['name'] }}
										</div>
										<div class="small-6 columns">
											{% for timeslot in resource.timeslots %}
												{% if timeslot.day_of_week == day['index'] %}
													{{ timeslot.start_time.strftime('%I:%M %p') }} - {{ timeslot.end_time.strftime('%I:%M %p') }}
												{% endif %}
											{% endfor %}
										</div>
									</div>
								{% endfor %}
							{% else %}
								No hours available.
							{% endif %}
						</div> 
					</div>
				</div>
			</div>
		</div>
			{% endfor %}
		</div>
	</div>
{% endfor %}
</div> </div>
{% endif %}

	<div class="row">
		<div class="small-12 columns">
		    <h2>Approved Food Resources</h2>
		    <hr align="center">
		</div>
	</div>

  	<!-- Filter admin resources by certain criteria -->
  	<div class="row">
  		<div class="medium-10 small-12 columns">
  			<label for="zip-code">Zip Code:</label>
	  		<input type="text" id="zip-code" />
	  		<input type="checkbox" id="filter-by-open-now"> Open Now
	  		<input type="checkbox" id="filter-by-families-and-children"> Families and children
	  		<input type="checkbox" id="filter-by-seniors"> Seniors
	  		<input type="checkbox" id="filter-by-wheelchair-accessible"> Wheelchair accessible
	  		<input type="checkbox" id="filter-by-accepts-snap"> Accepts SNAP
  		</div>
  		<div class="medium-2 small-12 columns">
  			<div class="button radius small" id="apply-filters-resources-button">Apply Filters</div>
  			<div class="button radius small" id="clear-filters-resources-button">Clear Filters</div>
  		</div>
  	</div>
	<div class="row">
  		<div class="small-12 columns" id="filter-error">
  		</div>
  	</div>

  	<!-- Expand or collapse all resources -->
  	<div class="row">
	    <div class="small-12 columns">
          <div class="button radius small" id="expand-all-resources-button">Expand All</div>
          <div class="button radius small" id="collapse-all-resources-button">Collapse All</div>
	    </div>
	</div>

	<!-- Total number of food resources in the database. --> 
	<div class="row">
		<div class="small-12 columns">
			Displaying <div id="all-num-resources" class="total-num-resources">0</div> food resource(s).
		</div>
	</div>

	<!-- Display all resources in database. -->
  	<div class="large-centered 
                  large-8 medium-centered medium-8 small-8 small-centered
                  columns resources">

	{% for food_resource_type in food_resource_types %}
	<div id="{{ food_resource_type.hyphenated_id_plural }}">
		<div class="block-header admin-food-resource-type-header" id="{{ food_resource_type.hyphenated_id_plural }}-header">
			<table>
			  	<thead>
			    	<tr>
			    		{% set total_num_resources = food_resource_type.food_resources|count %}
			      		<th width="200" class="expand-food-resource-type" id="food-resource-type-expand-{{ food_resource_type.hyphenated_id_plural }}">+</th>
			      		<th width="100%">{{ food_resource_type.name_plural }} (<div class="total-num-resources" id="{{ food_resource_type.hyphenated_id_plural }}-num-resources">{{ total_num_resources}}</div>) </th>	
			    	</tr>
			  	</thead>
			</table>
		</div>
		<div id="{{ food_resource_type.hyphenated_id_plural }}-food-resource-type-table" class="admin-food-resource-type">
			{% if food_resource_type.food_resources|count == 0 %}
				<div class="no-resources-message">None to display.</div>
			{% endif %}

			{% for resource in food_resource_type.food_resources %}
			<div class="resource"> 

			<!-- Resource header --> 
			  <div class= "row" id="food-resource-{{ resource.id }}">
				<div class="small-1 columns expand-food-resource" id="food-resource-expand-{{ resource.id }}">
					+
				</div>
				<div class="small-7 columns">
					{{ resource.name }}
				</div>
				<div class="small-2 columns">
					<a href="{{ url_for('new', id=resource.id) }}" class="food-resource-update-button">Edit</a>
				</div>
				<div class="small-2 columns">
					<a id="{{ resource.id }}-remove" class="food-resource-update-button" href="#modal">Remove</a>
				</div>
			</div>
			<!-- Resource content --> 
			<div class="row admin-food-resource" id="{{ resource.id }}-food-resource-table">
				<div class="large-6 small-12 columns">
					<div class="row">
						<div class="small-3 columns">
							Name:
						</div>
						<div class="small-9 columns">
							{{ resource.name }}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Address:
						</div>
						<div class="small-9 columns">
							{% if resource.address.line1 %}
								{{ resource.address.line1 }}
							{% endif %}
							{% if resource.address.line2 %}
								<br>
								{{ resource.address.line2 }}
							{% endif %}	
							<br>
							{{ resource.address.city }}, 
							{{ resource.address.state }} 
							{{ resource.address.zip_code }}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Zip Code:
						</div>
						<div class="small-9 columns">
							{{ resource.address.zip_code }}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Phone Number:
						</div>
						<div class="small-9 columns">
							{{ resource.phone_numbers[0].number }}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Website:
						</div>
						<div class="small-9 columns">
							{% if resource.url %}
								<a href="{{ resource.url }}">{{ resource.url }}</a>
							{% else %}
								None listed.
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Description:
						</div>
						<div class="small-9 columns">
							{% if resource.description %}
								{{ resource.description }}
							{% else %}
								No description.
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Family and children?
						</div>
						<div class="small-9 columns">
							{% if resource.is_for_family_and_children %}
								Yes
							{% else %}
								No
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Seniors?
						</div>
						<div class="small-9 columns">
							{% if resource.is_for_seniors %}
								Yes
							{% else %}
								No
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Wheelchair accessible?
						</div>
						<div class="small-9 columns">
							{% if resource.is_wheelchair_accessible %}
								Yes
							{% else %}
								No
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							Accepts SNAP?
						</div>
						<div class="small-9 columns">
							{% if resource.is_accepts_snap %}
								Yes
							{% else %}
								No
							{% endif %}
						</div>
					</div>
				</div>
				<div class="large-6 small-12 columns">
					<div class="row">
						<div class="small-3 columns">
							Hours: 
						</div>
						<div class="small-9 columns">
							{% if resource.are_hours_available %}
								{% for day in days_of_week %}
									<div class="row">
										<div class="small-6 columns">
											{{ day['name'] }}
										</div>
										<div class="small-6 columns">
											{% for timeslot in resource.timeslots %}
												{% if timeslot.day_of_week == day['index'] %}
													{{ timeslot.start_time.strftime('%I:%M %p') }} - {{ timeslot.end_time.strftime('%I:%M %p') }}
													<br>
												{% endif %}
											{% endfor %}
										</div>
									</div>
								{% endfor %}
							{% else %}
								No hours available.
							{% endif %}
						</div> 
					</div>
				</div>
			</div>
		</div>
			{% endfor %}
		</div>
	</div>
{% endfor %}
</div> </div>

<div class="remodal" data-remodal-id="modal">
    <h1>Confirm</h1>
    <p>
    	Are you sure you want to delete this food resource?
    	<br>
    	This action cannot be undone.
    </p>
    <br>
    <a class="remodal-cancel" href="#">No</a>
    <a class="remodal-confirm" href="#">Yes</a>
</div>

</body>

<script>
	$(document).ready(function() {

		// Dynamically set background colors of table headers. 
		{% for food_resource_type in food_resource_types %}
			$("#{{ food_resource_type.hyphenated_id_plural }}-header table thead").each(function(index) {
				$(this).css('background-color', "#{{ food_resource_type.colored_pin.hex_color }}");
				$(this).css('border', "none");
			});
			$("#{{ food_resource_type.hyphenated_id_plural }}-header table").each(function(index) {
				$(this).css('background-color', "#{{ food_resource_type.colored_pin.hex_color }}");
				$(this).css('border', "none");
			});
		{% endfor %}

		$("#all-num-resources").each(function(index) {
			var totalNumResources = 0;
			{% for food_resource_type in food_resource_types %}
				totalNumResources += {{ food_resource_type.food_resources|count }};
			{% endfor %}
			setTotalNumResources(totalNumResources);
		});

		$("#apply-filters-resources-button").click(function() {
			$('*').css({ 'cursor': 'wait' });

			var hasZipCodeFilter = 0; // FALSE
			var hasFamiliesAndChildrenFilter = 0; // FALSE
			var hasSeniorsFilter = 0; // FALSE
			var hasWheelchairAccessibleFilter = 0; // FALSE
			var hasAcceptsSnapFilter = 0; // FALSE
			var openNowFilter = 0; // FALSE

			// Check that zip code is properly formed.
			var regex = /^(\d{5})?$/; // 5-digit number or an empty string.
			var zipCode = $("#zip-code").val().trim(); 
			if (regex.test(zipCode)) {
				// Clear any errors.
				$("#filter-error").html("");
				if (zipCode.length > 0) {
					hasZipCodeFilter = 1; // TRUE 
				}
			} else {
				// Provide helpful error message to user.
				$("#filter-error")
					.html("Zip code must consist of exactly 5 digits (0-9).");
				return; 
			}

			// Determine which checkboxes are checked.
			if ($('[id="filter-by-open-now"]:checked')
				.length > 0) {
				openNowFilter = 1; // TRUE 
			}
			if ($('[id="filter-by-families-and-children"]:checked')
				.length > 0) {
				hasFamiliesAndChildrenFilter = 1; // TRUE 
			}
			if ($('[id="filter-by-seniors"]:checked').length > 0) {
				hasSeniorsFilter = 1; // TRUE 
			}
			if ($('[id="filter-by-wheelchair-accessible"]:checked')
				.length > 0) {
				hasWheelchairAccessibleFilter = 1; // TRUE 
			}
			if ($('[id="filter-by-accepts-snap"]:checked').length > 0) {
				hasAcceptsSnapFilter = 1; // TRUE 
			}

			$.getJSON($SCRIPT_ROOT + '/_admin_apply_filters', {
        		has_zip_code_filter: hasZipCodeFilter,
        		zip_code: zipCode,
        		has_families_and_children_filter: hasFamiliesAndChildrenFilter, 
        		has_seniors_filter: hasSeniorsFilter, 
        		has_wheelchair_accessible_filter: hasWheelchairAccessibleFilter, 
        		has_accepts_snap_filter: hasAcceptsSnapFilter,
        		has_open_now_filter: openNowFilter
        	},
        	function(data) {
        		$('*').css({ 'cursor': 'default' });

        		clearTablesOfFoodResources();

        		var totalNumResources = 0;
        		var i = 0;  
        		{% for food_resource_type in food_resource_types %}
        			var foodResources = data["food_resources"][i];
        			if (!foodResources || foodResources.length == 0) {
        				var html = getNoResourcesHtml(
        					"{{ food_resource_type.hyphenated_id_plural }}"); 
        				$("#{{ food_resource_type.hyphenated_id_plural }}-header").after(html);

        				// Set number of filtered resources to be 0.
        				setIndividualNumResources(0, "{{ food_resource_type.hyphenated_id_plural }}");
        			}
        			else {
        				totalNumResources += 
        					foodResources.length;
        				var html = getResourcesHtml(
        					"{{ food_resource_type.hyphenated_id_plural }}", 
        					"{{ food_resource_type.name_plural }}", 
        					foodResources, 
        					data["days_of_week"]);
        				$("#{{ food_resource_type.hyphenated_id_plural }}-header").after(html);

        				// Update number of filtered resources. 
        				var individualNumResources = 
        					foodResources.length;
        				setIndividualNumResources(individualNumResources, 
        					"{{ food_resource_type.hyphenated_id_plural }}"); 
        			}
        			i++;
        		{% endfor %}

        		// Reset the total number of resources count to reflect the 
        		// applied filters. 
        		setTotalNumResources(totalNumResources); 

        		// Hide all food resource tables initially.
				$(".admin-food-resource-type").hide(); 
				$(".admin-food-resource").hide();

				// If an "Expand" button is pressed, either show or hide the 
				// associated food resource information.
				toggleAdminFoodResourceVisibility();

				// Remove a food resource without reloading page.
				onClickRemoveFoodResource();  
        	});  
		}); 

		// Approves a food resource without reloading page.
		$("[id$='approve']").click(function() {
			$('*').css({ 'cursor': 'wait' });
			var id = $(this).attr('id');
			var dashIndex = id.indexOf("-"); 
			var foodResourceId = id.substring(0, dashIndex); 
			$.getJSON($SCRIPT_ROOT + '/_approve', {
	        		id: foodResourceId
	        	},
	        	function(data) {
	        		$('*').css({ 'cursor': 'default' });
	        		hide("food-resource-pending-" + foodResourceId);
	        		hide("food-resource-" + foodResourceId + "-table-pending");

	        		reloadFoodResourcesTables();
	        	});  
		});		

		$("#clear-filters-resources-button").click(function() {
			reloadFoodResourcesTables();
		}); 
	}); 

	function reloadFoodResourcesTables() {
		$('*').css({ 'cursor': 'wait' });
		$.getJSON($SCRIPT_ROOT + '/_admin_remove_filters', {
    	},
    	function(data) {
    		$('*').css({ 'cursor': 'default' });
    		clearTablesOfFoodResources();

    		var totalNumResources = 0;
    		var i = 0;  
    		{% for food_resource_type in food_resource_types %}
    			var foodResources = data["food_resource_types"][i]["food_resources"];
    			if (!foodResources || foodResources.length == 0) {
    				var html = getNoResourcesHtml(
    					"{{ food_resource_type.hyphenated_id_plural }}"); 
    				$("#{{ food_resource_type.hyphenated_id_plural }}-header").after(html);

    				// Set number of filtered resources to be 0.
    				setIndividualNumResources(0, "{{ food_resource_type.hyphenated_id_plural }}");
    			}
    			else {
    				totalNumResources += foodResources.length; 
    				var html = getResourcesHtml(
    					"{{ food_resource_type.hyphenated_id_plural }}", 
    					"{{ food_resource_type.name_plural }}", 
    					foodResources, 
    					data["days_of_week"]);
    				$("#{{ food_resource_type.hyphenated_id_plural }}-header").after(html);

    				// Update number of filtered resources. 
    				var individualNumResources = 
    					foodResources.length;
    				setIndividualNumResources(individualNumResources, 
						"{{ food_resource_type.hyphenated_id_plural }}"); 
    			}
    			i++; 
    		{% endfor %}

    		// Reset the total number of resources count to reflect the cleared 
    		// filters. 
    		setTotalNumResources(totalNumResources); 

    		// Clear checkboxes and text box.
    		$('#filter-by-open-now').attr('checked', false);
			$('#filter-by-families-and-children').attr('checked', false);
			$('#filter-by-seniors').attr('checked', false);
			$('#filter-by-wheelchair-accessible').attr('checked', false);
			$('#filter-by-accepts-snap').attr('checked', false);
			$("#zip-code").val("");

    		// Hide all food resource tables initially.
			$(".admin-food-resource-type").hide(); 
			$(".admin-food-resource").hide();

			// If an "Expand" button is pressed, either show or hide the 
			// associated food resource information.
			toggleAdminFoodResourceVisibility(); 

			// Remove a food resource without reloading page.
			onClickRemoveFoodResource();
    	});
	}
</script>


{% endblock %}
