<html>
  <head>

    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/foundation.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/jquery.remodal.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script type="text/javascript" 
            src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{{ url_for('static', filename='js/gmaps.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dropzone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.remodal.min.js') }}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
   
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Don't launch the Foundation JS until the DOM has loaded -->
    <script>
        $(document).ready(function() {
            $(document).foundation();
        });  
    </script>

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    
    <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '', 'auto');
      ga('send', 'pageview');

      {% if current_user.is_authenticated() %}
        ga("set", "&uid", "{{ current_user.email }}"); // Set the user ID using signed-in user_id.
      {% endif %}

    </script>
    
    {% if title %}
    <title>{{title}} - Philly Food Finder</title>
    {% else %}
    <title>Philly Food Finder</title>
    {% endif %}

  </head>
  <body>
    <div class="fixed sticky">
      <nav class="top-bar" data-topbar role="navigation" 
           data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name">
            <h1><img src="{{ url_for('static', filename='img/FPAC_logo.svg') }}" id="fpac-logo"/></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <li><a href="{{ url_for('map') }}" id="l_map">map</a></li>

            <li class="has-dropdown drop-resources">
              <a href="" id="l_resources">resources</a>
                <ul class="dropdown">
                  <li><a href="{{ url_for('neighborhood') }}">Neighborhood<br> Guide</a></li>
                  <li><a href="{{ url_for('farmers') }}">Farmers’ Markets</a></li>
                  <li><a href="{{ url_for('seniors') }}">Seniors</a></li>
                  <li><a href="{{ url_for('share') }}">SHARE Host Sites</a></li>  
                  <li><a href="{{ url_for('snap') }}">SNAP</a></li>
                  <li><a href="{{ url_for('summer_meals') }}">Summer Meals</a></li>
                  <li><a href="{{ url_for('wic') }}">WIC</a></li>                

                </ul>
            </li>
            <li><a href="{{ url_for('about') }}" id="l_about">about</a></li>
            <li><a href="{{ url_for('contact') }}" id="l_contact">contact</a></li>

            {% if current_user.is_authenticated() %}
            <li class="has-dropdown drop-admin">
              <a href="{{ url_for('admin') }}" id="l_admin">admin</a>

                <ul class="drop-admin dropdown">
                  <li><a href="{{ url_for('admin') }}">Manage<br>Food Resources</a></li>
                  <li><a href="{{ url_for('new') }}">Add<br>Food Resource</a></li>
                  <li><a href="{{ url_for('view_food_resource_types') }}">Manage Food<br>Resource Types</a></li>
                  <li><a href="{{ url_for('new_food_resource_type') }}">Add Food<br>Resource Type</a></li>
                  <li><a href="{{ url_for('user.register') }}">Invite Admins</a></li>
                  <li><a href="{{ url_for('files') }}">Bulk Import<br>and Export</a></li>
                  <li><a href="{{ url_for('analytics') }}">Admin Analytics</a></li>
                  <li><a href="{{ url_for('user.change_password') }}">Change Password</a></li>
                </ul>
            </li>
            {% endif %}
           
          </ul>

         <!-- Right Nav Section -->
         <ul class="right">
            {% if current_user.is_authenticated() %}
              <li><a href=" {{ url_for('user.logout') }} " id="l_login">
                           logout </a></li>
            {% endif %}
            {% if not current_user.is_authenticated() %}
              <li><a href=" {{ url_for('user.login') }} " id="l_login">
                           login </a></li>
            {% endif %}
          </ul>

        </section>
      </nav>
    </div>

    {% block content %}

    {% endblock %}

    <div class="row">
        <h4 id="hr-helper">.</h4>
        <hr align="center">
    </div>
    <div class="footer row">
      <div class="small-12 small-centered columns">
        Do you manage a food resource? Would you like to add your new or updated information to our site? Submit your food resource's information
        <a href="/propose-resource">here</a>.
     </div>
    </div>
    <div class="footer fbottom row">
      <div class="small-10 columns">
        Developed by <a href="http://hack4impact.weebly.com/">Hack4Impact</a> in partnership with the <a href="http://phillyfpac.org/">Philadelphia Mayor's Food Policy Advisory Council</a> and the <a href="http://www.hungercoalition.org/">Greater Philadelphia Coalition Against Hunger</a>.
      </div>
      <div class="small-2 columns right">
        <ul id="footer-pics">
          <li class="footer-li"> <a href="http://hack4impact.weebly.com/"><img class="footer-img" src="{{ url_for('static', filename='img/h4i_logo.png') }}" alt="Hack4Impact"/></a></li>
          <li class="footer-li"> <a href="http://phillyfpac.org/"><img class="footer-img" src="{{ url_for('static', filename='img/fpac-f_logo.png') }}" alt="Food Policy Advisory Council"></a></li>
          <li class="footer-li"> <a href="http://www.hungercoalition.org/"><img class="footer-img" src="{{ url_for('static', filename='img/gpcah_logo.png') }}" alt="Greater Philadelphia Coalition Against Hunger"></a></li>
        </ul>
      </div>
    </div></div>

  </body>
</html>
