<html>
  <head>

    <!-- CSS -->
    <link href="/static/css/foundation.css" rel="stylesheet" type="text/css">
    <link href="/static/css/foundation.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css">

    <!-- JavaScript -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/foundation/foundation.js"></script>
    <script src="/static/js/foundation/foundation.magellan.js"></script>

    <!-- Don't launch the Foundation JS until the DOM has loaded -->
    <script>
        $(document).ready(function() {
            $(document).foundation();
        });  
    </script>
    
    {% if title %}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}

  </head>
  <body>
<!--
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">My Site</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
-->
  <section class="top-bar-section">
  <div data-magellan-expedition="fixed">
    <dl class="sub-nav" id="top-header">
      <dd data-magellan-arrival="map"><a href="#map">logo</a</dd>
      <dd data-magellan-arrival="map"><a href="#map">map</a></dd>
      <dd data-magellan-arrival="js"><a href="#js">faq</a></dd>
      <dd data-magellan-arrival="about"><a href="#about">about</a></dd>
      <dd data-magellan-arrival="contact"><a href="#contact">contact</a></dd>
<!--      <dd data-magellan-arrival="admin"><a href="#admin">admin</a></dd> -->
  </dl>
  </div>


  </nav>



    {% block content %}{% endblock %}

 <!-- sections of stuff
  <a name="map"></a>
  <h3 data-magellan-destination="map">map</h3>

  <a name="faq"></a>
  <h3 data-magellan-destination="faq">faq</h3>
-->


  </body>
</html>
