{% extends "base.html" %}

{% block content %}
<body id = "charts_p">
  <div class="row">
    <h1 class="page-header">Admin Analytics</h1>
      <hr align="center">
  </div>

</div>
<body>
  <div class="row">
    <h2 class="text-center">Searches by Zip Code</h2>
  </div>
  <div class="row">
    <div id="chart_div"></div>
  </div>
  <div class="row">
    <h2 class="text-center">Raw Data</h2>
  </div>
  <div class="row">
    <div id="table_div"></div>
  </div>



  <div class="row">
    <h2 class="text-center">Google Analytics</h2>
  </div>

<div class="row">
  <div class="large-centered large-16 medium-centered medium-8 small-centered columns">
    <section id="auth-button"></section>
  </div>
</div>
<div class="row">
  <div class="large-centered large-16 medium-centered medium-8 small-centered columns">
    <section id="view-selector"></section>
  </div>
</div>
<div class="row">
  <div class="large-centered large-16 medium-centered medium-8 small-centered columns">
    <section id="timeline"></section>
  </div>
</div>


<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart","table"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {

      var chartData = google.visualization.arrayToDataTable([
        ['Zip Code', 'Searches'],
        {% for zip_code in zip_codes_limit %}
          ['{{zip_code.zip_code}}', {{zip_code.search_count}}], 
        {% endfor %}
      ]);
      var tableData = google.visualization.arrayToDataTable([
          ['Zip Code', 'Searches'],
          {% for zip_code in zip_codes_all %}
            ['{{zip_code.zip_code}}', {{zip_code.search_count}}], 
          {% endfor %}
        ]);

      var chartOptions = {
        backgroundColor: { fill:'transparent' },
        legend: {position: 'none'},
        chartArea:{top:'5%'},
      };

      var tableOptions = {
        alternatingRowStyle: true,
        page: 'enable',
        pageSize: 20,
      };

      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
      var table = new google.visualization.Table(document.getElementById('table_div'));
      chart.draw(chartData, chartOptions);
      table.draw(tableData, tableOptions);
    }
</script>

<script>
(function(w,d,s,g,js,fjs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
  js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
}(window,document,'script'));
</script>

<script>
gapi.analytics.ready(function() {

  // Step 3: Authorize the user.

  var CLIENTID = 'put clientid here'

  gapi.analytics.auth.authorize({
    container: 'auth-button',
    clientid: CLIENTID,
  });

  // Step 4: Create the view selector.

  var viewSelector = new gapi.analytics.ViewSelector({
    container: 'view-selector'
  });

  // Step 5: Create the timeline chart.

  var timeline = new gapi.analytics.googleCharts.DataChart({
    reportType: 'ga',
    query: {
      'dimensions': 'ga:date',
      'metrics': 'ga:sessions',
      'start-date': '30daysAgo',
      'end-date': 'yesterday',
    },
    chart: {
      type: 'LINE',
      container: 'timeline'
    }
  });

  // Step 6: Hook up the components to work together.

  gapi.analytics.auth.on('success', function(response) {
    viewSelector.execute();
  });

  viewSelector.on('change', function(ids) {
    var newIds = {
      query: {
        ids: ids
      }
    }
    timeline.set(newIds).execute();
  });
});
</script>



</body>

{% endblock %}