<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="row">
    <h1>Contact Us</h1>
    <hr align="center">
</div>
<div class="row">
    <div class="large-12 columns">
        <div id="editor1" contenteditable="false">
            {{ html_string.value|safe }}
        </div>
    </div>
</div>
{% if current_user.is_authenticated() %}
<div class="row">
   <div class="button round start-edit">Edit</div>
   <div class="button round end-edit" id="contact-page" >Save</div>  
</div>
{% endif %}

{% if current_user.is_authenticated() %}
<script>
    $(".end-edit").hide();
</script>
{% endif %}
{% endblock %}