<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="row">
    <h1>Edit</h1>
</div>
<div class="row">
    <div class="large-12 columns">
    <div id="editor1" contenteditable="false">
    <h1>Inline Editing in Action!</h1>
    <p>The "div" element that contains this text is now editable.
</div>
{% if current_user.is_authenticated() %}
<div class="row">
   <div class="button round" id="start_edit">Edit</div>
   <div class="button round" id="end_edit">Save</div>  
</div>
{% endif %}
</div>
</div>
{% if current_user.is_authenticated() %}
<script>
    $("#end_edit").hide();
</script>
{% endif %}
{% endblock %}


