{% extends "base.html" %}

{% block content %}

<body id = "files_p">

	<div class="row">
		<form action="/_csv_input"
			  class="dropzone"
			  id="my-awesome-dropzone"></form>
	</div>	  
	<div class="row">
		<div class="button radius medium" id="upload-button" >Upload</div>  
	</div>    

</body>

<script>
// Config dropzone
Dropzone.options.myAwesomeDropzone = {
  paramName: "file", 
  addRemoveLinks: true,
  maxFiles: 1,
  acceptedFiles: ".csv",
  autoProcessQueue: false,
  dictDefaultMessage: "DROP OR CLICK HERE TO IMPORT A SINGLE CSV",
};

$("#upload-button").click(function() {
	var dropzone = Dropzone.forElement("#my-awesome-dropzone");
	dropzone.processQueue();
});

</script>

{% endblock %}