<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="row">
 	<h1 class="page-header">All Food Resource Types</h1>
    <hr align="center">
</div>

<!-- Expand or collapse all food resource types -->
<div class="row">
    <div class="small-12 columns">
      	<div class="button radius small" id="expand-all-resources-button">Expand All</div>
      	<div class="button radius small" id="collapse-all-resources-button">Collapse All</div>
    </div>
</div>

<div class="large-centered large-8 medium-centered medium-8 small-8 small-centered columns resources">

	{% for food_resource_type in food_resource_types %}
	<div id="{{ food_resource_type.id }}">
		<!-- Header -->
		<div class= "row" id="food-resource-type-{{ food_resource_type.id }}">
			<div class="small-1 columns expand-food-resource" id="food-resource-expand-{{ food_resource_type.id }}">
				+
			</div>
			<div class="small-7 columns">
				{{ food_resource_type.name_singular }}
			</div>
			<div class="small-2 columns">
				<a href="{{ url_for('new_food_resource_type', id=food_resource_type.id) }}" class="food-resource-update-button">Edit</a>
			</div>
			<div class="small-2 columns">
				<a id="{{ food_resource_type.id }}-remove-food-resource-type" class="food-resource-update-button" href="#modal">Remove</a>
			</div>
		</div>
		<!-- Content --> 
		<div class="row admin-food-resource" id="{{ food_resource_type.id }}-food-resource-table">
			<div class="large-12 small-12 columns">
				<div class="row">
					<div class="small-6 columns">
						Name (singular):
					</div>
					<div class="small-6 columns">
						{{ food_resource_type.name_singular }}
					</div>
				</div>
				<div class="row">
					<div class="small-6 columns">
						Name (plural):
					</div>
					<div class="small-6 columns">
						{{ food_resource_type.name_plural }}
					</div>
				</div>
				<div class="row">
					<div class="small-6 columns">
						Color:
					</div>
					<div class="small-6 columns">
						{{ food_resource_type.colored_pin.color_name }} 
						<div class="color-box" id="color-box-{{ food_resource_type.colored_pin.hex_color }}"></div>
					</div>
				</div>
				<div class="row">
					<div class="small-6 columns">
						Pin image:
					</div>
					<div class="small-6 columns pin-image">
						{% if food_resource_type.colored_pin.pin_image_name %}
							<img src="{{ url_for('static', filename='img/' + food_resource_type.colored_pin.pin_image_name) }}">
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="small-6 columns">
						Enumeration (used for bulk import of food resources):
					</div>
					<div class="small-6 columns pin-image">
						{{ food_resource_type.enum }} 
					</div>
				</div>
				<div class="row">
					<div class="small-6 columns">
						Hyphenated ID Singular:
					</div>
					<div class="small-6 columns pin-image">
						{{ food_resource_type.hyphenated_id_singular }} 
					</div>
				</div>
				<div class="row">
					<div class="small-6 columns">
						Hyphenated ID Plural:
					</div>
					<div class="small-6 columns pin-image">
						{{ food_resource_type.hyphenated_id_plural }} 
					</div>
				</div>
				<div class="row">
					<div class="small-6 columns">
						Underscored ID Singular:
					</div>
					<div class="small-6 columns pin-image">
						{{ food_resource_type.underscored_id_singular }} 
					</div>
				</div>
				<div class="row">
					<div class="small-6 columns">
						Underscored ID Plural:
					</div>
					<div class="small-6 columns pin-image">
						{{ food_resource_type.underscored_id_plural }} 
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="remodal" data-remodal-id="modal">
    <h1>Confirm</h1>
    <p>
    	Are you sure you want to delete this food resource type? 
    	<br>
    	All associated food resources will also be deleted.
    	<br>
    	This action cannot be undone.
    </p>
    <br>
    <a class="remodal-cancel" href="#">No</a>
    <a class="remodal-confirm" href="#">Yes</a>
</div>

{% endblock %}