{% macro render_field(field) %}
<div class="row">
    <div class="small-12 columns" id="top-padding-section">
    {% if field.flags.required %}
      	<label>{{ field.label(class_='required') }}
    {% else %}
		<label>{{ field.label }}
    {% endif %}
    		<div class="form-field-description">
      			{{ field.description }}
      		</div>
        	<dd class="error">{{ field()|safe }}
        	{% if field.errors %}
                {% for e in field.errors %}
                    {% if e %}
                        <small class="error">{{ e }}</small>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </dd>
      	</label>
    </div>
</div>
{% endmacro %}

{% macro render_food_resource_boolean(description, field) %}
<div class="row">
	<div class="small-9 columns">
		<div class="admin-resources-category">{{ description }}:</div>
	</div>
	<div class="small-3 columns">
		{% if field %}
			Yes
		{% else %}
			No
		{% endif %}
	</div>
</div>
{% endmacro %}

{% macro render_checkbox_field(field, label=None) -%}
    {% if not label %}{% set label=field.label.text %}{% endif %}
    <div class="checkbox">
           {{ field(type='checkbox', **kwargs) }} {{ label }}
   </div>
{%- endmacro %}