  {% extends "base.html" %}
  {% block content %}
  <h1>GMaps.js &mdash; Markers</h1>
  <div class="row">
    <div class="span11">
      <div id="map"></div>
    </div>
    <div class="span6">
      <p>With GMaps.js you can add markers this way:</p>
      <pre>map.addMarker({
  lat: -12.043333,
  lng: -77.028333,
  title: 'Lima',
  click: function(e){
    alert('You clicked in this marker');
  }
});</pre>
      <p><strong>latitude</strong> and <strong>longitude</strong> are required. You can also attach additional information with <code>details</code>, which will be passed to Event object (<code>e</code>) in the events previously defined.</p>
      <p><span class="label notice">Note </span>If you want to show an Info Window, you must add:</p>
      <pre>infoWindow: {
        content: '&lt;p&gt;HTML Content&lt;/p&gt;'
      }</pre>
      <p><span class="label notice">Note</span>The Info Windows also can bind these events: <code>closeclick</code>, <code>content_changed</code>, <code>domready</code>, <code>position_changed</code> and <code>zindex_changed</code></p>
    </div> 
  </div>
  {% endblock %}
