  {% extends "base.html" %}
  {% block content %}
<script type="text/javascript">
    var map;
    $(document).ready(function(){
      map = new GMaps({
        el: 'map',
        lat: -12.043333,
        lng: -77.028333
      });
      $('#geocoding_form').submit(function(e){
        e.preventDefault();
        GMaps.geocode({
          address: $('#address').val().trim(),
          callback: function(results, status){
            if(status=='OK'){
              var latlng = results[0].geometry.location;
              map.setCenter(latlng.lat(), latlng.lng());
            $.getJSON($SCRIPT_ROOT + '/_map', 
            function(data) {
              for (var i = 0; i < data["addresses"].length; i++)
              {
                newAddress = data["addresses"][i]["address"]["line1"];
                newTitle = "Default Title"
                newDescription = "Default Description";
                newType = "Default Type";
                image = "../static/img/FPAC_LOGO.png";

                if (data["addresses"][i]["name"] != null)
                  { newTitle = data["addresses"][i]["name"]; }

                if (data["addresses"][i]["description"] != null)
                  { newDescription = data["addresses"][i]["description"]; }

                newType = data["addresses"][i]["location_type"];

                if (newType == 'FARMERS_MARKET') { image = "../static/img/m_yellow.png" }

                else if (newType == 'FOOD_CUPBOARD') { image = "../static/img/m_blue.png" }

                else if (newType == 'MEALS_ON_WHEELS') { image = "../static/img/m_green.png" }

                else if (newType == 'SHARE') { image = "../static/img/m_red.png" }

                else if (newType == 'SOUP_KITCHEN') { image = "../static/img/m_orange.png" }

                else if (newType == 'WIC_OFFICE') { image = "../static/img/m_purple.png" }
                else 
                  { image = "../static/img/FPAC_LOGO.png"}
                
                console.log(newAddress); 
                console.log(newTitle);
                console.log(newDescription);
                console.log(newType);
                console.log(image);
                GMaps.geocode({
                  address: newAddress,
                  callback: function(results, status) {
                    if (status == 'OK')
                    {
                      var newMarker = results[0].geometry.location;   
                      console.log(newAddress); 
                      console.log(newTitle);
                      console.log(newDescription);
                      console.log(newType);
                      console.log(image);                                      
                      map.addMarker({
                        lat: newMarker.lat(),
                        lng: newMarker.lng(),
                        title: newTitle,
                        icon: {url: image,
                              size: new google.maps.Size(50,50),
                              scaledSize: new google.maps.Size(20,25)},
                        infoWindow: {
                          content: newDescription
                        }
                      })
                    }
                  }
                  });
              }
           });
            }
          }
        });
      });                                
    });
    </script>
  <h1>GMaps.js &mdash; Markers</h1>
  <div class="row">
    <div class="span11">
      <form method="post" id="geocoding_form">
        <label for="address">Address:</label>
        <div class="input large-8 medium-8 small-12 columns">
          <input type="text" id="address" name="address" />
          <input type="submit" class="btn" value="Search" />
        </div>
      </form> 
        <div class="large-8 medium-8 small-12 columns large-centered">
          <div id="map"></div>
        </div>
    </div> 
  </div>
  {% endblock %}
