<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="row">
    <h1 class="page-header">
	  {%trans%}Thanks!{%endtrans%}</h1>
    <hr align="center">
</div>

<div class="row">
  <div class="large-8 medium-8 medium-centered small-8 small-centered
              columns large-centered">
	  <p>An admin will review and approve the request. If you have any questions, please reach out.</p>
  </div>
</div>

<div class = "row text-center">
        <a href="{{ url_for('guest_new_food_resource') }}" 
           class="button radius small">Submit Another Food Resource</a>
</div>

{% endblock %}
