<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<body id = "info_p">
    <div class="row">
      <div class="small-12 columns">
        <h1 class="page-header info-header">Food Pantries & Soup Kitchens</h1>
        <hr align="center">
      </div>
    </div>
    <div class="row">
        <div class="small-12 columns content">
            <div id="editor1" contenteditable="false">
                {{ html_string.value|safe }}
            </div>
        </div>
    </div>
    {% if current_user.is_authenticated() %}
    <div class="row"> <div class="small-12 columns content">
       <div class="button radius tiny start-edit">Edit</div>
       <div class="button radius tiny end-edit" id="wic-info-page" >Save</div>  
    </div> </div>
</body>
{% endif %}

{% if current_user.is_authenticated() %}
<script>
    $(".end-edit").hide();
</script>
{% endif %}
{% endblock %}